.form-container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 33vw;
  height: 100vh;
}

.signup-form {
  display: grid;
  border-style: solid;
  width: min(55vw, 400px);
  height: fit-content;
  align-content: center;
  padding: 5vh;
  justify-content: center;
  background-color: white;
  border-color: rgb(213, 203, 203);
  border-radius: 30px;
  font-weight: bolder;
}

section {
  padding: 5px;
  display: grid;
}
h1 {
  text-align: center;
  font-size: min(6vw,1.5em);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
button {
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  border-radius: 10px;
  background-color: rgb(39, 153, 130);
  color: rgb(37, 32, 32);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-weight: bold;
  padding: 5px;
}

button[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}
button:not([disabled]):hover {
  background-color: rgb(23, 222, 182);
}

input {
  background-color: #dfe1e3;
  border-radius: 5px;
  padding: 5px;
}

input.ng-invalid.ng-touched {
  background-color: #e19697;
}
hr {
  align-items: center;
  border-style: solid;
  width: min(30vw, 300px);
}
.link {
  text-align: center;
}
a {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(37, 32, 32);
  text-decoration: none;
}
a:hover {
  text-decoration: underline; /* adds underline on hover */
}
.warnings {
  font-style: normal;
  font-size: small;
  line-height: 1em;
  color: #fc3138;
  overflow-wrap: break-word; /* ensures long words break */
  word-wrap: break-word;
}
