<div class="form-container">
  <form class="signup-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Create an Account</h1>
    <section>
      <input
        type="name"
        id="firstName"
        placeholder="First Name"
        formControlName="firstName"
      />
    </section>
    <section>
      <input
        type="name"
        id="lastName"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </section>
    <section>
      <input
        type="email"
        id="username"
        placeholder="Email"
        formControlName="email"
      />
    </section>
    <section>
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
    </section>
    <section>
      <input
        type="password"
        id="confirm-password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
    </section>
    @if (emailInvalid || passInvalid || confirmPassInvalid){
    <div class="warnings">
      @if(emailInvalid){
      <p>Invalid Email</p>
      } @if(passInvalid){
      <p>Password Requirements:</p>
      <ul>
        <li>8 charaters long</li>
        <li>Contain uppercase and lowercase letters</li>
        <li>Contain numbers</li>
      </ul>
      } @if(confirmPassInvalid){
      <p>Confirm Password Invalid or Does Not Match</p>
      }
    </div>
    }

    <section>
      <button type="submit">Create Account</button>
    </section>
    <div class="link">
      <hr />
      <a routerLink="">Already have an Account? Login</a>
    </div>
  </form>
</div>
