<form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Welcome Back</h1>
  <section>
    <label>Email</label>
    <input type="email" name="" id="email" formControlName="email" />
  </section>
  <section>
    <label>Passowrd</label>
    <input type="password" name="" id="password" formControlName="password" />
  </section>
  <section>
    <app-form-button type="submit">Log in</app-form-button>
  </section>

  <div class="link">
    <hr />
    <a routerLink="./signup">New User Sign up</a>
  </div>
</form>
