.login-form {
  display: grid;
  border-style: solid;
  width: min(50vw, 400px);
  height: max(300px, 35vh);
  background-color: white;
  border-color: rgb(213, 203, 203);
  border-radius: 30px;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: min(6vw,1.5em);
}

section {
  padding-bottom: 10px;
  display: grid;
  width: min(30vw, 300px);
}

input {
  background-color: #dfe1e3;
  border-radius: 5px;
  padding: 5px;
  width:95%
}

hr {
  align-items: center;
  border-style: solid;
  width: min(30vw, 300px);
}

.link {
  text-align: center;
}
a {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(37, 32, 32);
  text-decoration: none;
}
a:hover {
  text-decoration: underline; /* adds underline on hover */
}
